.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;

}

.gallery__image {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.gallery__item {
    width: calc((100% - 40px) / 3);
}